apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ name }}{{ deployment_suffix }}
  labels:
    app: {{ name }}{{ deployment_suffix }}
    group_id: {{ name }}
spec:
  replicas: 1
  template:
    metadata:
      name: {{ name }}{{ deployment_suffix }}
      labels:
        app: {{ name }}{{ deployment_suffix }}
        group_id: {{ name }}
    spec:
      containers:
      - name: database
        image: postgres
        ports:
        - containerPort: {{ exposed_port }}
        env:
        - name: GARBAGE_COLLECTOR_URL
          value: {{ garbage_collector_url }}
        - name: GROUP_ID
          value: {{ name }}
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
      - name: seeder
        image: postgres
        command: ["/bin/bash"]
        args: [ {{ ",".join(argument_sets['deployment']) }} ]
        env:
        - name: GARBAGE_COLLECTOR_URL
          value: {{ garbage_collector_url }}
        - name: GROUP_ID
          value: {{ name }}
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name