apiVersion: batch/v1
kind: Job
metadata:
  name: {{ name }}{{ job_suffix}}
spec:
  template:
    metadata:
      name: {{ name }}{{ job_suffix }}
    spec:
      containers:
      - name: processor
        image: postgres
        env:
          - name: SERVICE_URL
            value: {{ name }}{{ service_suffix }}
          - name: SERVICE_EXPOSED_PORT
            value: "{{ exposed_port }}"
        command: ["/bin/bash"]
        args: [ {{ ",".join(argument_sets['job']) }} ]
      restartPolicy: Never