apiVersion: v1
kind: Service
metadata:
  name: {{ name }}{{ service_suffix }}
  labels:
    app: {{ name }}
    deployment_name: {{ name }}{{ deployment_suffix }}
spec:
  ports:
  - port: {{ exposed_port }}
    protocol: TCP
  selector:
    app: {{ name }}{{ deployment_suffix }}