apiVersion: v1
kind: Service
metadata:
  name: {{ name }}{{ service_suffix }}
  labels:
    group_id: {{ name }}
    deployment_name: {{ name }}{{ deployment_suffix }}
spec:
  ports:
  {% for exposed_port in exposed_ports %}
  - port: {{ exposed_port}}
    name: port-{{ exposed_port}}
    protocol: TCP
  {% endfor %}
  selector:
    app: {{ name }}{{ deployment_suffix }}