configparser==3.5.0
envtpl==0.5.3
Jinja2==2.9.6
httplib2==0.10.3
Jinja2==2.9.6
oauth2client==4.1.2
packaging==16.8
parse==1.8.4
parse-type==0.4.2
pathspec==0.5.9
pylint==1.9.3
pyparsing==2.0.1
python-dateutil==1.5
PyYAML==3.12
scipy==0.13.0b1
six==1.11.0
traceback2==1.4.0
uritemplate==3.0.0
urllib3==1.22
virtualenv==15.1.0
websocket-client==0.44.0
yamllint==1.11.1
